/* Remover qualquer padding e margin no body */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

p {
  font-weight: 300;  /* Deixa o texto mais fino (letra mais leve) */
  font-family: 'Poppins', sans-serif; /* Mantém a fonte 'Poppins' */
}

body {
  background-color: #242424;  /* Substitua pelo código da cor desejada */
}

.new-class a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Herda a cor do texto do pai */
  transition: color 0.3s ease; /* Adiciona uma transição suave na mudança de cor */
}

/* Aplicar rolagem suave ao clicar em links */
html {
  scroll-behavior: smooth; /* Faz a rolagem suave */
}

/* Cabeçalho */
header {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; /* O cabeçalho deve ter largura total */
  height: 100vh; /* Altura total da tela, para que ocupe toda a parte superior */
}

/* Header que cobre a tela toda no mobile */
.header {
  position: relative;
  height: 100vh; /* Isso faz o header ter a altura total da tela */
  width: 100%;
}

.name {
  font-size: 5.2rem; /* Ajuste o tamanho da fonte do nome */
  font-weight: 600;
}

.title {
  font-size: 2.2rem ;
  font-weight: 380;
}

.quote {
  font-size: 1.2rem; /* Ajuste o tamanho da fonte da citação */
  font-weight: 280; /* Define a espessura da fonte (mais fina) */
}

section, section p, section h2, section h3, section ul, section ol {
  text-align: left;
}

section p, section h1 {
  font-size: 1rem;
  color: white;
  margin: 0;
  position: relative; 
  left: 20px; /* Move ambos para a direita */
}

.retangulo {
  width: 95%;
  max-width: 1200px;
  height: 400px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 8px; /* valor maior pra ficar bem visível */
  position: relative;
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.imagem-projeto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.retangulo-link {
  display: block; /* Faz o link ocupar toda a área do retângulo */
  text-decoration: none; /* Remove sublinhado */
}

/* Efeito ao passar o mouse */
.retangulo-link:hover .retangulo {
  transform: scale(1.01); /* Aumenta apenas 2% */
}

.card-projeto {
  margin: 20px auto; /* Centraliza horizontalmente */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
  border-radius: 5px;
  position: relative;
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.titulo-sobre {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Título do cabeçalho */
h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
  z-index: 1; /* Garante que o título fique em cima da imagem */
  position: relative;
  color: white; /* Garantir que o título tenha cor visível */
}

/* Menu de navegação */
.menu-desktop ul {
  width: 100%; /* Largura total para o menu */
  margin: 0; /* Remover a margem */
  padding: 0; /* Remover o padding */
  display: flex;
  justify-content: center;
  background-color: #242424; /* Cor de fundo do menu */
  position: fixed; /* Fixa o menu na parte superior da tela */
  top: 0; /* Define a posição do menu no topo */
  left: 0; /* Alinha o menu à esquerda */
  z-index: 1000; /* Garante que o menu ficará sobre outros elementos */
  padding: 14px 0; /* Adiciona um pouco de espaçamento vertical */
  box-sizing: border-box; /* Para garantir que o padding não aumente o tamanho total do menu */
}

/* Estilo para os links do menu */
.menu-desktop ul li {
  margin: 0;
}

/* Estilos para as seções */
section {
  box-sizing: border-box; /* Inclui padding no cálculo da largura e altura */
  padding: 10px 20px;  /* Espaçamento interno das seções */
  margin: 30px 0;  /* Espaçamento entre as seções */
  border-radius: 8px;  /* Borda arredondada para as seções */
}

#container {
  display: flex;               /* Flexbox para organizar os itens */
  flex-direction: column;      /* Alinha os itens verticalmente */
  justify-content: center;     /* Centraliza verticalmente */
  align-items: flex-start;     /* Alinha à margem esquerda horizontalmente */
  min-height: 86vh;           /* Garante que o container ocupe toda a altura da tela */
  padding-left: 20px;          /* Adiciona uma margem na esquerda */
  padding-right: 20px;         /* Adiciona uma margem na direita, para não grudar na borda */
  box-sizing: border-box;      /* Para incluir o padding na largura total */
}

#container h1 {
  margin-bottom: -25px; /* Ajuste o valor conforme necessário */
}

#container p {
  margin-top: 10px; /* Ajuste o valor conforme necessário */
}

.name, .title, .quote {
  margin: 0;                /* Remover margens automáticas do texto */
}

section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: -5px; /* Espaçamento abaixo do título da seção */
  color: #ffffff;
  background-color: #ffffff;
  border-radius: 5px;
}

h3, p {
  margin-bottom: 0;  /* Remove a margem inferior do h3 */
  margin-top: 0;     /* Remove a margem superior do p */
}

.indented {
  list-style-type: disc;  /* Adiciona bolinhas (disc) antes de cada item */
  margin-left: 20px;  /* Adiciona indentação para os itens */
  padding-left: 0px;  /* Adiciona um pequeno espaço antes da bolinha */
  list-style-type: disc;  /* Adiciona bolinhas antes de cada item */
  margin-left: 20px;  /* Adiciona indentação para os itens */
  padding-left: 0px;  /* Remove o preenchimento antes da bolinha */
  margin-top: 0;  /* Remove o espaço no topo da lista */
  padding-top: 0;  /* Remove o preenchimento no topo da lista */
  font-weight: 300; /* Deixa a fonte mais fina */
}

.menu-desktop ul li a {
  display: block;
  padding: 10px 20px;
  font-size: 15px; /* Reduz o tamanho da fonte */
  color: #3c3c3c; /* Cor do texto */
  text-decoration: none;
  text-align: center;
}

.menu-desktop a.active {
  color: #3c3c3c; /* Cor do link ativo */
  font-weight: bold;
  border-bottom: none; /* Remove a linha abaixo */
}

h3:not(:first-child) {
  margin-top: 40px; /* Adiciona margem superior apenas nos h3 que não são os primeiros */
}

/* Estilo para o botão Conecte-se */
.btn-cv, .btn-contato {
  display: inline-block;
  padding: 10px 20px;
  font-size: 15px;
  color: #e8e8e8;               /* Cor do texto */
  text-decoration: none;        /* Remove sublinhado */
  text-align: center;
  border: 1px solid #e8e8e8;    /* Borda do botão */
  border-radius: 5px;           /* Bordas arredondadas */
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease; /* Transições suaves */
}

/* Efeito de hover nos botões */
.btn-cv:hover, .btn-contato:hover {
  color: rgb(255, 255, 255);    /* Cor do texto ao passar o mouse */
  border-color: #ffffff;
  transform: scale(1.05);       /* Efeito de aumentar o botão */
}

/* Efeito quando o botão está ativo (clicado) */
.btn-cv.active, .btn-contato.active {
  transform: scale(1.1);
  font-weight: bold;
}

.botoes-cv {
  display: flex;
  gap: 30px;
  margin-top: 20px; /* Desce os botões */
  position: relative;
  left: 20px; /* Move os botões para a direita */
}

.rodape {
  background-color: #2c2c2c; /* Cor de fundo */
  color: white;
  padding: 40px 0; /* Espaçamento vertical */
  font-size: 14px;
  display: flex;
  flex-direction: column; /* Organiza os elementos em coluna */
  align-items: center; /* Centraliza horizontalmente */
  text-align: center; /* Garante que o texto fique centralizado */
  width: 100%;
}

.container-rodape {
  margin-left: 80px; /* Move 20px para a direita */
}

.container-rodape {
  width: 100%;
  max-width: 800px; /* Define um limite de largura */
  display: flex;
  flex-direction: column; /* Mantém os elementos empilhados */
  align-items: center; /* Centraliza horizontalmente */
}

.social-links {
  list-style: none;
  padding: 0;
  margin-top: 15px;
  display: flex;
  gap: 30px; /* Espaço entre os links */
  justify-content: center; /* Centraliza os links */
  width: 100%;
}

.social-links li {
  display: inline;
}

.social-links a {
  color: #ffffff; /* Cor do texto */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
  transition: transform 0.25s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

.titulo-projetos {
  text-align: center; /* Centraliza o texto dentro do elemento */
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  margin-top: 20px; /* Ajuste esse valor conforme necessário */
}

.container-sobre {
  display: flex;
  flex-direction: row;
  gap: 40px;

  flex-wrap: wrap; /* empilha no mobile */
}

.texto-sobre {
  flex: 1;
  min-width: 400px;
  max-width: 830px;
}

.imagem-sobre {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  flex-shrink: 0;
  align-self: center; /* este é o truque! */
}

.imagem-projeto {
  display: block;
  margin: auto; /* centraliza horizontalmente */
}

.imagem-sobre img {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* corta a imagem para preencher o quadrado */
  display: block;
}

/* DESKTOP Estilo para telas maiores (desktop) */
@media (min-width: 1024px) {
  p, h3 {
      width: 60%;  /* O conteúdo ocupa 60% da largura na tela maior */
  }

.new-class a {
      text-decoration: none;
      color: inherit;
      transition: transform 0.3s ease; /* A transição será aplicada à transformação */
  }

.new-class a:hover {
  color: #ffffff; /* A cor que você deseja para o hover, aqui usei vermelho (você pode mudar) */
  }

  /* Efeito de hover - muda a cor do texto quando o mouse passa sobre o link */
.indented a:hover {
  color: #ffffff; /* A cor que você deseja para o hover, aqui usei vermelho (você pode mudar) */
  }

.custom-title {
  color: #ffffff; /* Cor desejada */
  font-weight: bold; /* Garantir o negrito */
  }
}

.paragrafo-destaque {
  color: #ffffff; /* Ou qualquer cor que quiser */
}


.full-width-image {
  width: 100%;
  height: auto;
  display: block;
}

.full-widthb-image {
  width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 5px;     /* Arredonda o canto superior esquerdo */
  border-top-right-radius: 5px;    /* Arredonda o canto superior direito */
  border-bottom-left-radius: 5px;  /* Arredonda o canto inferior esquerdo */
  border-bottom-right-radius: 5px; /* Arredonda o canto inferior direito */
}


.full-widthbo-image {
  width: 100%;
  height: auto;
  display: block;
  border-bottom-left-radius: 5px; /* Arredonda o canto esquerdo */
  border-bottom-right-radius: 5px; /* Arredonda o canto direito */
}

.img-pequena {
  width: 300px; /* Ou qualquer tamanho que você quiser */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Pra evitar espaçamento estranho */
} 

.img-compo {
  width: 1000px; /* Ou qualquer tamanho que você quiser */
  height: auto; /* Mantém a proporção da imagem */
  display: block; /* Pra evitar espaçamento estranho */
} 

#aprendizados p:last-child {
  margin-bottom: 100px; /* Ajuste o valor conforme necessário */
}
/* FIM DESKTOP Estilo para telas maiores (desktop) */







/* ----------- MOBILE ----------- */
@media (max-width: 768px) {


    .rodape {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;      /* Centraliza horizontalmente */
    justify-content: center;  /* Opcional: alinha verticalmente, se necessário */
    padding: 30px 15px;       /* Menos padding no mobile */
    box-sizing: border-box;
  }
  
  .container-rodape {
    margin-left: 0;       /* Remove deslocamento lateral */
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0;
    margin-top: 15px;
  }

  .social-links li a {
    font-size: 16px;
  }
  
.imagem-projeto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto;
}
  
    #container {
    display: flex;
    flex-direction: column;
    justify-content: center;    /* Centraliza verticalmente */
    align-items: flex-start;    /* Alinha à esquerda */
    height: 100vh;              /* Ocupa a altura da tela */
    padding: 0 20px;
    box-sizing: border-box;
    text-align: left;           /* Texto à esquerda */
  }

.name {
  font-size: 2.2rem;
  margin-bottom: -10px !important; /* espaço abaixo do nome */
}

.title {
  font-size: 1.4rem;
  margin-top: 0; /* remove margem superior para evitar conflito */
  margin-bottom: -3px !important; /* espaçamento entre título e quote */
}

.quote {
  font-size: 1.1rem;
  max-width: 100%;
  word-break: break-word;
  margin-top: 0; /* remove margem superior */
}

  /* Estilo para o clique no mobile (ativo) */
  .menu-desktop ul li a:active {
      color: #3c3c3c;
      transform: scale(1.1);
      transition: transform 0.2s ease;
  }

  /* Outras regras específicas para o layout do mobile */
  .menu-desktop {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 120vh; /* Garante que ocupe toda a tela */
    min-height: 100vh; /* Caso o conteúdo aumente */
    background-color: #2c2c2c; /* Cor de fundo para visualização */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 60px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1500; /* Garante que o menu fique acima do conteúdo */
}

.menu-desktop ul {
  display: flex;  /* Adiciona flexbox */
  flex-direction: column; /* Organiza os itens verticalmente */
  align-items: flex-start;
}

  .menu-desktop li {
      padding: 8px 0;
      padding-top: 68px;
      transform: translateX(-2px);
  }

  .menu-toggle {
      position: fixed;
      left: 15px;
      top: 10px;
      font-size: 30px;
      cursor: pointer;
      color: white;
      z-index: 2000;
  }

  /* Quando o menu está aberto */
  .menu-open {
      transform: translateX(0) !important;
      z-index: 1500;
  }

  

  /* Estilo da tabela para mobile */
  @media (max-width: 768px) {

      /* Menu de navegação */
.menu-desktop ul {
  width: 100%; /* Largura total para o menu */
  margin: 0; /* Remover a margem */
  padding: 0; /* Remover o padding */
  display: flex;
  justify-content: center;
  background-color: #2c2c2c; /* Cor de fundo do menu */
  position: fixed; /* Fixa o menu na parte superior da tela */
  top: 0; /* Define a posição do menu no topo */
  left: 0; /* Alinha o menu à esquerda */
  z-index: 1000; /* Garante que o menu ficará sobre outros elementos */
  padding: px 0; /* Adiciona um pouco de espaçamento vertical */
  box-sizing: border-box; /* Para garantir que o padding não aumente o tamanho total do menu */
}

/* Estilo para os links do menu */
.menu-desktop ul li {
  margin: 0;
}

.menu-desktop ul li a {
  display: block;
  padding: 10px 20px;
  font-size: 15px; /* Reduz o tamanho da fonte */
  color: #aaaaaa; /* Cor do texto */
  text-decoration: none;
  text-align: center;
}

.menu-desktop ul li a:active {
  color: #ffffff !important;
}
.menu-desktop ul li a.ativo {
  color: #ffffff !important;
}

section {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

section p,
section h1,
section h2,
section h3 {
  padding-left: 6px;
  padding-right: 20px;
  box-sizing: border-box;
}

.menu-desktop a {
  text-decoration: none; /* Remove qualquer sublinhado */
  color: #000; /* Cor padrão */
  border-bottom: none;
}
      }
}

/* Menu de navegação DESKTOP */
@media (min-width: 769px) {

  .imagem-banner {
      width: 100vw; /* 100% da largura da tela */
      height: 100vh; /* 100% da altura da tela */
      object-fit: cover; /* Faz a imagem preencher sem distorcer */
      display: block;
      margin: 0;
      padding: 0;

    }

  .menu-desktop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #3c3c3c;
      z-index: 1000;
      padding: 14px 0;
      box-sizing: border-box;
  }

  .menu-desktop ul {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .menu-desktop ul li {
      margin: 0;
  }

  .menu-desktop ul li a { 
      display: block;
      padding: 20px 44px;
      font-size: 15px;
      color: #aaaaaa; /* cor da letra menu*/
      text-decoration: none;
      text-align: center;
      transition: all 0.3s ease;
  }

  .menu-desktop a.active {
      color: #ffffff;
      font-weight: bold;
      transform: scale(1.1);
  }

  .menu-desktop ul li a:hover {
      color: #ffffff;
      transform: scale(1.1);
  }
}

/* Menu para dispositivos com largura de 800px a 1280px */
@media screen and (min-width: 800px) and (max-width: 1280px) {


  .menu-desktop ul {
      display: flex; /* Continua com flexbox para o layout horizontal */
      justify-content: space-around; /* Alinha os itens do menu de forma espaçada */
  }

  .menu-desktop {
      padding: 10px 0; /* Ajuste do padding superior e inferior */
      background-color: #3c3c3c; /* Cor de fundo */
  }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
}